/* *{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
} */


/* html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  font-size:1.2rem;
} */

.bg {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh; /* Full height of the viewport */
  width: 100%;
}


  .img {
 height: 100%;
 width: 100%;
  border-radius: 20px;
  background: url('../images/bg.jpg') no-repeat center center fixed;
  background-size: cover; /* Cover the entire container */
  display: flex;
  align-items: center;
  justify-content: center;
}


.box{
height: 50%;
width: 26%;  
backdrop-filter: blur(27px);
border: solid 1px #ed0c0ca6;
border-radius: 15px;
}

.content{
  width:90%;
  height: 100%;
  margin: 0 auto;
  padding: 20px 0px;
}
.text{
  text-align: center;
  padding-bottom: 10px;
  color: white;
}
input{
  width: 100%;
  height: 45px;
  margin-bottom: 15px;
  border-radius: 30px;
  border: solid 1px white;
  background-color: transparent;
  outline: none;
  padding: 0 15px;
  color: rgb(255, 255, 255);
}
::placeholder{
  color: white;
  font-size: 15px;
}
.forget{
  width: 100%;
  display: flex;
  justify-content: space-between;
  font-size: 15px;
  color: rgba(255, 255, 255, 0.89);
}
.forget input{
  height: 13px;
  width: 13px;
  margin-right: 5px;
  border: none;
  border-radius: 4px;
}
button{
  margin-top: 25px;
  width: 100%;
  height: 47px;
  margin-bottom: 15px;
  border-radius: 30px;
  border: none;
  font-weight: 700;
  font-size: 15px;
  transition: all 0.3s ease-in-out;
}
.pass{
  font-size: 13px;
  color: rgba(255, 255, 255, 0.89);
  text-align: center;
}
span{
  font-size: 13px;
  font-weight: 600;
  color: rgba(255, 255, 255, 0.89);
text-align: center;
}
button:hover{
  background: linear-gradient(325deg, rgba(222,2,216,0.9836309523809523) 0%, rgba(96,0,156,1) 100%);
  color: white;
  border: solid 1px white;
  transform: none;
  box-shadow: 0px 0px 15px rgba(255, 255, 255, 0.603);
  cursor: pointer;
}