.bg {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  
  width: 100%;
  padding: 20px; /* Add padding for smaller screens */
}

.img {
  position: absolute; /* Absolute position to cover the background */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /* max-width: 600px;  */
  border-radius: 20px;
  background: url('../images/bg.jpg') no-repeat center center fixed;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
}

.box {
  width: 100%;
  max-width: 400px; /* Constrain the box width */
  backdrop-filter: blur(27px);
  border: solid 1px #ed0c0ca6;
  border-radius: 15px;
  padding: 20px; /* Add padding to the box */
}

.content {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  padding: 20px 0;
}

.text {
  text-align: center;
  padding-bottom: 10px;
  color: white;
  font-size: 1.5em; /* Responsive font size */
}

input {
  width: 100%;
  height: 45px;
  margin-bottom: 15px;
  border-radius: 30px;
  border: solid 1px white;
  background-color: transparent;
  outline: none;
  padding: 0 15px;
  color: white;
  font-size: 1em; /* Responsive font size */
}

::placeholder {
  color: white;
  font-size: 1em; /* Responsive font size */
}

.forget {
  width: 100%;
  display: flex;
  justify-content: space-between;
  font-size: 1em; /* Responsive font size */
  color: rgba(255, 255, 255, 0.89);
}

.forget input {
  height: 13px;
  width: 13px;
  margin-right: 5px;
  border: none;
  border-radius: 4px;
}

button {
  margin-top: 25px;
  width: 100%;
  height: 47px;
  margin-bottom: 15px;
  border-radius: 30px;
  border: none;
  font-weight: 700;
  font-size: 1em; /* Responsive font size */
  transition: all 0.3s ease-in-out;
}

.pass, span {
  font-size: 1em; /* Responsive font size */
  color: rgba(255, 255, 255, 0.89);
  text-align: center;
}

button:hover {
  background: linear-gradient(325deg, rgba(222,2,216,0.9836309523809523) 0%, rgba(96,0,156,1) 100%);
  color: white;
  border: solid 1px white;
  box-shadow: 0px 0px 15px rgba(255, 255, 255, 0.603);
  cursor: pointer;
}

/* Media Queries for Responsive Design */
@media (max-width: 768px) {
  .img {
    padding: 20px;
  }

  .box {
    width: 90%;
    padding: 15px;
  }

  .text {
    font-size: 1.2em;
  }

  input, button {
    font-size: 0.9em;
  }
}

@media (max-width: 480px) {
  .box {
    width: 100%;
    padding: 10px;
  }

  .text {
    font-size: 1em;
  }

  input, button {
    font-size: 0.8em;
  }
}
