/* AdminMain.css */

/* Pagination styles */
.pagination {
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 0;
    margin-top: 0px;
  }
  
  .pagination li {
    margin: 0 5px;
  }
  
  .pagination button {
    background-color: #f8f9fa;
    color: #333;
    border: radius 0px !important;
    border: 1px solid #ccc;
    padding: 5px 10px;
    cursor: pointer;
    transition: all 0.3s ease;
  }
  
  .pagination button:hover {
    background-color: #e9ecef;
  }
  
  /* Pagination animation */
  @keyframes fadeIn {
    0% {
      opacity: 0;
      transform: translateY(20px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  .animated-pagination {
    animation: fadeIn 0.5s ease-in-out;
  }
  